body {
  background-color: #405952;
  color: #D0D6D2;
}

.okay {
  color: #161917;
  background-color: #9C9B7A;
}

.address {
  font-size: 12px;
  margin-left: 10px;
  margin-top: 15px;
}

.letter-body {
  font-size: 20px;
  margin-left: 10px;
}

.letter-greeting {
  font-size: 15px;
  margin-left: 10px;
}

#userName {
  width: 150px;
}

#postcard {
  display: none;
  margin-top: 20px;
  width: 750px;
  height: 400px;
  background-color: #9C9B7A;
  color: #161917;
}
